// Specific CSS for your home-page
a {
  color:white;
}

.container {
  padding-bottom: 2.5rem !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.hero-header {
  width: 45%;
  padding-bottom: 16px;
  margin-top: 32px;
  height:280px;

}

.illustration {
  margin-bottom: 40px;
}

.home-drawing {
  width:65%;
  margin-left: 16px;
}

.value-prop{
  width:90%;
  line-height:1.6em;
}

.light-a {
  color:black;
}

.light-a:hover {
  color:black;
}



