// Import page-specific CSS files here.
@import "home";

a {
  color:white;
}

.hero-text {
  color: white;
  margin-top: 16px;
}

.hero-motto {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 46px;
  color: #232323;
}

a:hover, a:focus {
  text-decoration:none;
  color:white;
}


.product-wrapper {
  display: flex;
  margin-top: 32px;

}


.outer-card {
  width:300px;
display:flex;
justify-content:center;
}
.big-card {
display:flex;
justify-content:center;
justify-self:start;
background-color: #F3ECDD;
align-items:center;
width:300px;
height:300px;
}

.card-img {
  width: 200px;
  height: 200px;
  background-color: black; /* fallback color */
  object-fit: cover;
  box-shadow: 0px 0px 8px gray;

}

.big-card:hover .card-img,
.big-card:focus .card-img {
  transform: scale(1.01);
    -webkit-transform:scale(1.01); /* Safari and Chrome */
    -moz-transform:scale(1.01); /* Firefox */
  }

  .card-info {

    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  .card-info h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #232323;
    margin: 16px 0 4px 0;
    text-align: center;
  }

  .desc-text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(16, 16, 16, 0.6);
    text-align: center;
  }

  .price {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    transition: 0.3s;
    margin-top: 4px;

  }

  .big-card .price {
    width: 120px;
  }

  .big-card .price:hover {
    color: rgba(250, 219, 206, 0.1);
    font-size: 0;

  }

  .big-card .price:hover:after {
    content: attr(data-hover);
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    text-decoration: underline solid #FBDBCE;
  }


// added by felix - asil, please check.
  .edit-button {
    background-color: blue;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
  }

 .search-section {
  // position:relative;
   background-image:url('search.png');
     background-position: bottom right;

    background-repeat: no-repeat;
 }

  .search-bg {
    margin-top:240px;


  }

  .farm-search{
  width: 600px !important;

 line-height: 2.8em;
 border: 1px solid #232323;
  }
