// Import page-specific CSS files here.
@import "home";

a {
  color:white;
}

.hero-text {
  color: white;
  margin-top: 16px;
}

.hero-motto {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 46px;
  color: #232323;
}

a:hover, a:focus {
  text-decoration:none;
  color:white;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 46px;
  color: #232323;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  color: #232323;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(35, 35, 35, 0.5);
  margin:0;
}
.product-wrapper {
  display: flex;
  margin-top: 32px;
  height:100vh;
}
.big-card {
 width: 300px;
 background-color: rgba(253, 235, 227, 0.5);
/* background-color: #F3ECDD;*/
display: inline-block;
overflow: hidden;
margin: 16px;
}

.card-img {
  width: 100%;
  height: 194px;
  background-color: black; /* fallback color */
  background-image: url("https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80");
  background-position: center;
  background-size: cover;
  vertical-align: middle;

}

.big-card:hover .card-img,
.big-card:focus .card-img {
  transform: scale(1.02);
    -webkit-transform:scale(1.02); /* Safari and Chrome */
    -moz-transform:scale(1.02); /* Firefox */
  }

  .card-info {
    padding: 0 24px 24px;
    font-family: 'Roboto', sans-serif;
  }

  .card-info h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #232323;
    margin: 16px 0 4px 0;
  }

  .desc-text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(16, 16, 16, 0.6);
  }

  .price {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    transition: 0.3s;
    margin-top: 4px;

  }

  .big-card .price {
    width: 120px;
  }

  .big-card .price:hover {
    color: rgba(250, 219, 206, 0.1);
    font-size: 0;

  }

  .big-card .price:hover:after {
    content: attr(data-hover);
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    text-decoration: underline solid #FBDBCE;
  }


// added by felix - asil, please check.
  .edit-button {
    background-color: blue;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
  }
