<div class="container">
  <h1>Edit your order</h1>
  <div class="product-wrapper">

    <%= simple_form_for [@product, @order] do |f| %>
    <p>Enter the new quantity you want to order:</p>
    <%= f.input :quantity, input_html: { min: 0 } %>
    <%= f.button :submit, class: "btn-main" %>
    <% end %>
  </div>
</div>
