<h1>Products</h1>

  <div class="cards">
    <% @orders.each do |order| %>
     <h2> <%=  order.product.name %> </h2>
      <ol>
        <li> your quantity: <%=  order.quantity %> </li>
        <li> <%=  order.product.description %> </li>
      </ol>
    <% end %>
  </div>

<%= link_to "back to front page", "/", {:class => "btn-outline-secondary ml-2"} %>


