<div class="container">
  <h1>Add a new Order</h1>
  <div class="product-wrapper">

    <%= simple_form_for [@product, @order] do |f| %>
    <p>Enter the quantity you want to add:</p>
   
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
