<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485637701894-09ad422f6de6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1320&q=80);">
  <div class="container">
    <h1 id= banner-text-typedjs>Welcome to Farmer's Market</h1>
    <a class="btn btn-success" href="/products" role="button">Browse</a>
  </div>
</div>