<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485637701894-09ad422f6de6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1320&q=80);">
  <div class="container">

    <div class="hero-header">

      <h1 class= "hero-motto">A beautiful meal is a work of heart</h1>
      <p class="hero-text"> Get your veggies from a local farm around you. And offer what you've grown wth people!</p>
      <button class="btn-big"><a  href="/users/sign_up" role="button">Sign Up</a></button>
      <button class="btn-big-2"><a  class="light-a" href="/products" role="button">See Products</a></button>
    </div>
  </div>

</div>

