
  <div class="container" style="min-height: 100vh;" >
    <div style="display: flex; align-items: flex-end;">

      <div class="hero-header">
        <h1 class= "hero-motto" style="color: black;">A beautiful meal is a work of heart</h1>
        <p class="hero-text" style="color: black;"> Get your veggies from a local farm around you. And share what you've grown with people!</p>
        <%= link_to "Sign Up", "/users/sign_up", class: "btn-big" %>
      </div>
      <%=image_tag("farmdrawing.jpg", class: "home-drawing") %>
    </div>
    <section class="big-text">
    <h2 style="font-style:italic; margin:100px auto;text-align: center; font-size: 22px; width: 70%; line-height:34px; color:gray; "> "Choosing to purchase locally grown food is an important way to support your local economy, contribute to your community, improve your health and do your part to protect the environment. Getting involved in the local food system helps us to gain back the separation we created between humans and food production."
</h2>
    <div>

    <%=image_tag("farmpic2.jpg", style: "width:100%;") %>
    </div>
    <div style="margin: 0 auto;">
<%= link_to "See Products", "/products", class: "btn-big-2" %>
    </div>
    </section>
  </div>


