.btn-big {
  color: white;
  font-size: 16px;
  font-weight: 300;
  background-color: #367978;
  padding:16px 80px;
  transition: 0.2s;
  border:none;
  margin-top: 16px;
}

.btn-big:hover {
  color: white;
  font-size: 16px;
  font-weight: 300;
  background-color: #439795;
  padding:16px 80px;
}

.btn-big-home {
  color: white;
  font-size: 16px;
  font-weight: 300;
  background-color: #367978;
  padding:16px 80px;
  transition: 0.2s;
  border:none;
  margin-top: 48px;
}

.btn-big-home:hover {
  color: white;
  font-size: 16px;
  font-weight: 300;
  background-color: #439795;
  padding:16px 80px;
}

.btn-main {
  color: white;
  font-size: 14px;
  font-weight: 300;
  background-color: #367978;
  padding:8px 40px;
  transition: 0.2s;
}

.btn-main:hover {
  color: white;
  font-size: 14px;
  font-weight: 300;
  background-color: rgba(54, 121, 120, 0.9);
  padding:8px 40px;
}

.btn-big-2 {
  color: white;
  font-size: 16px;
  font-weight: 300;
  background-color: #797336;
  padding:16px 80px;
  transition: 0.2s;
  border:none;
}

.btn-big-2:hover {
  color: white;
  font-size: 16px;
  font-weight: 300;
  background-color: #9B9344;
  padding:16px 80px;
}
