html, body {
    // height: 100%;
}
footer {

  width:100%;
 padding: 16px;
}
.foot {

    background: #367978;
    color: white;


    .footer-box{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  margin: 0 auto;
  margin-top: 16px;
  height: 24px;




      .social-icons {
      display:flex;
      justify-content: flex-end;
        li {
      list-style:none;
      margin-left: 16px;
      cursor: pointer;
      }
    }
  }
}

