.hero-text {
  color: white;
  margin: 16px 0;

}

.hero-motto {
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
  font-size: 44px;
  line-height: 44px;
  color: #232323;
}

.home-drawing {
  width:65%;
  margin-left: 16px;
}

.big-text {
  margin:32px 0;
}
